/* stylesheet.css
   Stylesheet for UWRF Team Rocket Flight Recorder Web UI
*/

button {
  width: 100%;
  font-size: 2em;
}

li {
  list-style: none;
}

li::before {
  content: '';
  display: inline-block;
  background-size: contain;
}

li.finished {
  list-style-image: url('green-checkmark.png');
}

li.unfinished {
  list-style-image: url('red-checkmark.png');
}

li.stalled {
  list-style-image: url('yellow-checkmark.png');
}

#start-stop {
  background-color: green;
}

#start-stop.running {
  background-color: red;
}

#start-stop.starting, #start-stop.stopping {
  background-color: yellow;
}

#connection-status {
  background-color: red;
}

#connection-status.connected {
  background-color: green;
}

#connection-status.reconnecting {
  background-color: yellow;
}

#file-picker {
  border: 5px solid orange;
}

#messages {
  border: 5px solid grey;
}

