
/* stylesheet.css
   Stylesheet for UWRF Team Rocket Flight Recorder Web UI
*/

/* tags  */

button {
  width: 100%;
  font-size: 2em;
  font-family: "Lucida Console", monospace;
  border-radius: 1em;
  border-width: 0.3em;
  cursor: pointer;
}

header, main, footer {
  width: 90%;
  margin: auto;
  text-align: center;
}

h1, h2, div, p, ol {
  border-radius: 1em;
  font-family: "Lucida Console", monospace;
}



/* progress list */

li::before {
  content: '';
  display: inline-block;
  background-size: contain;
}

li.finished {
  list-style-image: url('green-checkmark.png');
}

li.unfinished {
  list-style-image: url('red-checkmark.png');
}

li.stalled {
  list-style-image: url('yellow-checkmark.png');
}


/* IDs */

#start-stop {
  background-color: light-grey;
  border-width: 0.5em;
  border-color: yellow;
  font-weight: bold;
}

#start-stop.connected {
  border-color: green;
}

#start-stop.reconnecting {
  border-color: yellow;
}

#start-stop.running {
  border-color: red;
}

#start-stop.starting, #start-stop.stopping {
  border-color: yellow;
}

#logs {
/*  border: 5px solid grey; */
  padding: 0;
}

#logs li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#logs-wrapper {
/* nothing yet */
}

#live-data {
/*  border: 5px solid grey; */
  font-family: monospace;
  height: 4em;
  width: 100%;
  overflow: visible;
}

#live-data-wrapper {
/* nothing yet */
}
