/* stylesheet.css
   Stylesheet for UWRF Team Rocket Flight Recorder Web UI
*/

li {
  list-style: none;
}

li::before {
  content: '';
  display: inline-block;
  background-size: contain;
}

li.finished {
  list-style-image: url('green-checkmark.png');
}

li.unfinished {
  list-style-image: url('red-checkmark.png');
}

li.stalled {
  list-style-image: url('yellow-checkmark.png');
}

#start-stop {
  background-color: green;
}

#connection-status {
  background-color: red;
}

#connection-status.connected {
  background-color: green;
}

#connection-status.reconnecting {
  background-color: yellow;
}

#start-stop.running {
  background-color: red;
}

